<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Login</title>
    </h:head>
    <h:body>
        <h:form id="loginForm">
            <h:messages id="loginMessages" />
            <h:panelGrid id="loginPanel" columns="3">
                <h:outputLabel id="nameLabel" for="username" value="Username:"/>
                <h:inputText id="username" label="Username" required="true" requiredMessage="A username is required." tabindex="1" />
                <h:message id="nameMessage" for="username"/>
                <h:outputLabel id="passwordLabel" for="password" value="Password:"/>
                <h:inputSecret id="password" label="Password" required="true" requiredMessage="A password is required" tabindex="2"/>
                <h:message id="passwordMessage" for="password"/>
            </h:panelGrid>
            <h:panelGroup id="buttonGroup">
                <h:commandButton id="loginButton" label="Login" value="Login" tabindex="3"/>
                <h:commandButton id="resetButton" type="reset" label="Reset" value="Reset" tabindex="4"/>
            </h:panelGroup>
        </h:form>
    </h:body>
</html>

